<div class="packs wrapper pure-g">
  {% for packs in page.children() %}
    {% for pack in packs.children() %}
      <div class="pack-wrapper pure-u-1-2">
        <h4>{{ pack.title }}</h4>
        <hr />
        <div class="wrapper pure-g">
          {% for item in pack.header.items %}
            {% include 'partials/pack_short.html.twig' with {'page': page.find('/equipment/' ~ item.slug)} %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>