<div class="packs wrapper pure-g">
  {% for pack in page.header.packs %}
    <div class="pack-wrapper pure-u-1-2">
      <h4>{{ pack.name }}</h4>
      <hr />
      <div class="wrapper pure-g">
        {% for item in pack.equip %}
          {% include 'partials/pack.html.twig' with {'page': page.find('/equipment/' ~ item.slug)} %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>