{% embed 'partials/base.html.twig' %}

  {% set collection = page.collection() %}

  {% block content %}
      {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
      {% endif %}

    <div class="content-wrapper blog-content-list grid pure-g">
      <div id="listing" class="block pure-u-2-3">
        <table class="table">
          {% for child in collection %}
            {% include 'partials/equipment_list_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
            {{ child.listImage }}
          {% endfor %}
        </table>
      </div>
    </div>
  {% endblock %}

{% endembed %}
